<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616787602250-p7ieq5lug7di3u85kklsrqeg1mfrs1ne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616787602250-p7ieq5lug7di3u85kklsrqeg1mfrs1ne</string>
	<key>API_KEY</key>
	<string>AIzaSyD2wlE95K-xYH4WxgYDoCBfrneNC5Fn104</string>
	<key>GCM_SENDER_ID</key>
	<string>616787602250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>company.Marvel</string>
	<key>PROJECT_ID</key>
	<string>marvel-390bf</string>
	<key>STORAGE_BUCKET</key>
	<string>marvel-390bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616787602250:ios:f8c1cb2960cf081fae6fb3</string>
</dict>
</plist>